<canvas id="netWorth" style="min-height: 50px; max-height: 250px; display: block" class="chartjs-render-monitor"></canvas>
<script>
$(document).ready(function(){
    const labels = []
    const itemData = []
    {% for item in net_worth %}
        labels.push("{{ item.date|date:"d/m/y" }}")
        itemData.push(parseFloat("{{ item.total }}"))
    {% endfor %}
    const data = {
        labels: labels,
        datasets: [
        {
            label: 'Patrimônio Total',
            data: itemData,
            borderColor: 'red',
            fill: false,
            pointRadius: 7,
        }
        ]
    };
    const config = {
      type: 'line',
      data: data,
      options: {
        plugins: {
          filler: {
            propagate: false,
          },
        },
        scales: {
            y: {
                beginAtZero: true
            }
        },
        interaction: {
          intersect: false,
        }
      },
    };

    new Chart(document.getElementById('netWorth'), config)
});

</script>