{% extends 'base.html' %}
{% load money %}
{% block title %} {{ account.name }} {% endblock %}
{% block breadcrumb %} {{account.name}}{% endblock %}
{% block centertext %} Saldo Previsto: {{ account.balance | currency }} | Saldo Atual {{ actual_balance | currency }} {% endblock %}
{% block content %}
<style>
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ account.name }}</h3>
                    </div>
                    <div class="card-body table-responsive p-0" style="height: 700px;">
                        <table class="table table-head-fixed table-hover text-nowrap">
                            <thead>
                            <tr>
                                <th>Data</th>
                                <th>Descrição</th>
                                <th>Categoria</th>
                                <th>Valor</th>
                                <th>Saldo</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for transaction in account_transactions %}
                            <tr>
                                <td>{{ transaction.paid_date | date:"d/m/Y" }}</td>
                                <td>{{ transaction.name }}</td>
                                <td>{{ transaction.category }}</td>
                                <td>
                                {% if transaction.amount < 0 %}
                                <span class="badge bg-danger" style="font-size: 10px">{{ transaction.amount | currency }}</span>
                                {% else %}
                                <span class="badge bg-success">{{ transaction.amount | currency }}</span>
                                {% endif %}
                                </td>
                                <td>{{ transaction.balance | currency}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
