{% extends 'base.html' %}
{% load money %}
{% block title %} {{ account.name }} {% endblock %}
{% block breadcrumb %} {{account.name}}{% endblock %}
{% block centertext %} Saldo Previsto: {{ account.balance | currency }} | Saldo Atual {{ actual_balance | currency }} {% endblock %}
{% block content %}
<style>
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ account.name }}</h3>
                    </div>
                    <div class="card-body table-responsive p-0" style="height: 700px;">
                        <table class="table table-head-fixed table-hover text-nowrap">
                            <thead>
                            <tr>
                                <th>Data</th>
                                <th style="width:100px">Descrição</th>
                                <th>Categoria</th>
                                <th>Valor</th>
                                <th>Saldo</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for transaction in account_transactions %}
                            <tr>
                                <td>{{ transaction.paid_date | date:"d/m/Y" }}</td>
                                <td>{{ transaction.name }}</td>
                                <td>{{ transaction.get_category_display }}</td>
                                <td class="value-tag">
                                {% if transaction.get_category_display == 'Recebimentos' %}
                                    <span class="badge bg-success">{{ transaction.amount | currency }}</span>
                                {% elif transaction.get_category_display == 'Transferência' %}
                                    <span class="badge bg-info">{{ transaction.amount | currency }}</span>
                                {% elif transaction.get_category_display == 'Rendimentos' %}
                                    <span class="badge bg-warning">{{ transaction.amount | currency }}</span>
                                {% elif transaction.get_category_display == 'Mãe' %}
                                    <span class="badge bg-secondary">{{ transaction.amount | currency }}</span>
                                {% elif transaction.get_category_display == 'Outros' %}
                                    <span class="badge bg-dark">{{ transaction.amount | currency }}</span>
                                {% else %}
                                 <span class="badge bg-danger">{{ transaction.amount | currency }}</span>
                                {% endif %}
                                </td>
                                <td>{{ transaction.balance | currency}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <table class="">
                    {% for amount in monthly_control %}
                        {% if amount.date.month == selected_date.month and amount.date.year == selected_date.year %}
                            {% for category in amount.expense_list %}
                                {% for key, value in category.items %}
                                    <tr>{{ key }}: </tr>
                                    <tr>{{ value }}</tr>
                                    <br>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <tr>Total: {{ total_per_month }}</tr>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
