<div class="modal fade" id="create-todo-list" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{% url 'add_todo_list' %}" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="login-box-msg">Adicionar item a lista de coisas a fazer</p>
                    {% csrf_token %}
                    <label>Descrição:</label>
                    <input type="text" class="form-control" name="item" placeholder="Descrição">
                    <label>Data prevista:</label>
                    <input type="date" class="form-control" name="date">
                    <label>Categoria:</label>
                    <select class="form-control" name="category">
                        <option value="" selected="">---------------</option>
                            {% for category in todo_list_categories %}
                            <option value="{{ category.0 }}">{{ category.1 }}</option>
                            {% endfor %}
                    </select>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="submit" class="btn hike-color">Salvar</button>
                    <a class="btn btn-danger" data-dismiss="modal">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="edit-todo-list-{{ item.id }}" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{% url 'edit_todo_list' item.id %}" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="login-box-msg">Adicionar item a lista de coisas a fazer</p>
                    {% csrf_token %}
                    <label>Descrição:</label>
                    <input type="text" class="form-control" name="item" placeholder="Descrição" value="{{  item.item }}">
                    <label>Data prevista:</label>
                    <input type="date" class="form-control" name="date" value="{{ item.date | date:'Y-m-d' }}">
                    <label>Categoria:</label>
                    <select class="form-control" name="category">
                            {% for category in todo_list_categories %}
                                <option {% if category.0 == item.category %} selected="selected" {% endif %}
                                                value="{{ category.0 }}">{{ category.1 }}
                                </option>
                            {% endfor %}
                    </select>
                    <label>Prioridade</label>
                    <input type="number" class="form-control" name="priority" placeholder="1">
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="submit" class="btn hike-color">Salvar</button>
                    <a class="btn btn-danger" data-dismiss="modal">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>